<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>try post request</title>
        <style>
        </style>
    </head>
    <body>
        <form action="/templates/index.html" method="post">
            <input type="text" name="nome" placeholder="nome">
            <input type="text" name="cognome" placeholder="cognome">
            <input type="submit">
        </form>
    </body>
</html>

